.header {
    color: rgb(255, 255, 162);
    text-align: center;
}
body {
    background-image: linear-gradient(
        to right,
        coral,
        33%,
        #c5a5c3,
        66%,
        #e75fc3
    );
    font-family: monospace;
}
